body{
    background-color: ivory;
}

body #logo{
    color: lawngreen;
    text-align: center;
    font-size: 7pc;
}

body form #searchBox{
    width: 80%;
    text-align: center;
    height: 3pc;
    border-radius: 10px;
    

}

body form{
    padding-left: 15%;
}

body form .xyz{
    padding-top: 3pc;
    padding-left: 38%;
    border: greenyellow;

}

body form #Search{
    border-radius: 3px;
    height: 2pc;
    width: 5pc;
}